<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Mikkel Krautz</string>
	<key>CFBundleDisplayName</key>
	<string>GMail Inbox Checker</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.mkrautz.GMailInboxChecker</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>gmail.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>gmailinboxchecker-baritem</string>
				<key>Identifier</key>
				<string>GMailInboxCheckerButton</string>
				<key>Image</key>
				<string>mail.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>GMail Inbox Checker</string>
				<key>Tool Tip</key>
				<string>GMail Inbox Checker</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Shows you how many emails that are in your GMail inbox on your Safari toolbar.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>mail.google.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://mkrautz.github.com/safari-gmailinbox/update.plist</string>
	<key>Website</key>
	<string>http://mkrautz.github.com/safari-gmailinbox/</string>
</dict>
</plist>
